langchain
langchain-core
langchain-community
langchain-text-splitters

openai
langchain-groq
langchain-openai
langchain-postgres
langchain-google-genai

pymupdf
docx2txt
tiktoken
psycopg2-binary
python-dotenv

chromadb
pgvector
faiss-cpu
